html {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
/*     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-family: sans-serif;
}

main {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

a, a:visited {
    text-decoration: none !important;
    color: black;
}

/* NavBar */

.NavHome{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    margin-top: -10px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
    z-index: 4;
/*     margin-left: -222px; */}

.darKMode{
    display: flex;
    align-items: center;

    gap: 10px;
    padding-right: 50px;
}

/* ItemList */

.ItemListOrden{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
    grid-column-gap: 80px;
    grid-row-gap: 80px;

    padding-top: 50px;
    background-color: whitesmoke;

    /* max-width: 1100px; */
    
}

/* Item */

.cardMedia{
/*     height: 400px;
    width: 100%;
    padding: 0;
    margin: 0; */

    border-radius: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
    cursor: pointer;
    transition: all 400ms ease;
    width: 220px;
    height: 380px;

}

.cardMedia div h3{
    margin-top: 30px;
    margin-left: 25px;
}

.cardMedia div p{
    margin-left: 25px;
}

.cardMedia figure img{
    width: 100%;
    height: 150px;
    max-width: 220px;
    /* min-height: 150px; */
    /* height: 100%; */
    /* object-fit: cover; */
}

figure{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.figureMedia {
    background-color: aquamarine;
    height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.imageFigure {
    max-width: 220px;
    min-height: 150px;
    width: 100%;
}

/* Search */

.searchMain{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.formSearch{
    position: relative ;
}

.formSearch input{
    width: 400px;
    height: 55px;
    padding: 0 70px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
}

.searchFilter{
    display: flex;
}

.btnSearch{
    position: absolute;
    top: 0px;
    left: 28px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    z-index: 3;
    cursor: pointer;
}

.filterSearch{
    width: 180px;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
    border-radius: 5px;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.filterSearch i {
    cursor: pointer;
}

.filterSearch button {
    background: none;
    border: none;

}

.dropDownFilter{
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
    border-radius: 5px;
    right: 0;
    top: 60px;
    width: 100%;
}

.dropDownFilter > ul li{
    list-style: none;
    padding: 10px 0px 10px 30px;
    cursor: pointer;
}

.dropDownFilter > ul > li:hover{
    background: whitesmoke ;
}

.dropDownFilter > ul {
    padding: 0px;
    margin: 0px;
}
